apiVersion: v1
kind: ServiceAccount
metadata:
  name: kuberbank-admin
  namespace: kuberbank

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kuberbank-admin-role
  namespace: kuberbank
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/log", "pods/exec"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["services", "configmaps", "secrets"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["apps"]
    resources: ["deployments", "replicasets", "statefulsets"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses", "networkpolicies"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["autoscaling"]
    resources: ["horizontalpodautoscalers"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kuberbank-admin-binding
  namespace: kuberbank
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kuberbank-admin-role
subjects:
  - kind: ServiceAccount
    name: kuberbank-admin
    namespace: kuberbank
